/*
Author : Unni Krishna Prasad Endla
Student: c0930172
File Name : style.css
*/

/*CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1,
h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #22d5a8;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    margin: 5px auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

img {
    max-width: 100%;
    display: inline-flex;
}

/* Style rules for navigation area */
nav {
    float: right;
    width: 92%;
    background-color: #0856a4c0;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for Logo */
#logo{
    float:left;
    width :5%;
    padding: 3px;
    margin: 5px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: left;
}

nav li {
    display: inline-table;
    font-size: 1.00em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #ffffff;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav a:hover {
    background-color: #000000;
}

/* Style rules for main content */
main {
    clear:left;
    display: block;
    font-family: Verdana, sans-serif;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

#heading{
    align-self: center;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 10px 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h1 {
    color: rgb(255, 0, 0);
}

#welcome,
#featured,
#Specials{
    background-color: #aaae85;
    border: 5px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.reasons {
    background-color: #fbfb00;
    border: 5px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: 20%;
    clear: both;
}

#Pdescription {
    background-color: #0081d1;
    float: right;
    width: 75%;
    border: 5px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

#premium {
    margin-top: 10px;
    float: left;
    width: 20%;
}

/*Style for product 1  product 2 */
#sale_product1 , #sale_product2 {
    margin-top: 5px;
    float: right;
    width: 17%;
}

#product1, #product2{
    font-size: smaller;
    background-color: #0081d1;
    float: left;
    width: 80%;
    border: 5px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

#guaranteeImg{
    margin-top: 5px;
    float: right;
    width: 17%;
}

#assurance {
    font-size: smaller;
    background-color: #00ff15;
    float: left;
    width: 80%;
    border: 5px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

.weekly-sales,
.guarantee {
    clear: both;
}

ul {
    list-style-type: disc;
    margin-left: 2rem;
}

li {
    margin-bottom: 0.5rem;
}

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

#construction {
    display: block;
    margin: 0 auto;
}

#contact {
    text-align: center;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2f235c;
    color: #f6eee4;
    padding: 1% 0%;
}

footer a {
    color: #f3e6d8;
    text-decoration: none;
}